@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --purple1: hsl(228, 45%, 44%);
    --grey1: #272F38;
    --grey2: #19202A;
    --grey3: #898F9B;
    --orange1: #FC7613;
}

ul {
    list-style: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/************************************/



#content {
    width: 500px;
    height: 500px;
    background-color: var(--grey2);
    margin: 3.125rem auto;
    padding: 0.625rem;
}


#iconStar {
    display: flex;
    justify-content: center;
    width: 45px;

    background-color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50%;
}

#iconStar img {
    margin: 0.875rem 0;
}


#textContent p:first-child {
    font-size: 1.5rem;
    color: white;
}

#textContent p:last-child {
    color: var(--grey3);
}


#ratingNumbers {
    display: flex;
    flex-wrap: wrap;
    color: var(--grey3);
}

#ratingNumbers li {
    padding: 0.788rem 1.069rem;

    background-color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50%;
}

#submitBtn {
    color: white;
    background-color: var(--orange1);
}