@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --purple1: hsl(228, 45%, 44%);
    --grey1: #272F38;
    --grey2: #19202A;
    --grey3: #898F9B;
    --grey4: #7D8799;
    --bgGrey: #efefefa6;
    --orange1: #FC7613;
}

body {
    background-color: var(--bgGrey);
}

ul {
    list-style: none;
}



/************************************************************************/



#container {
    max-width: 361px;
    width: 90%;
    /* height: 403px; */
    background-color: var(--grey2);

    margin: 3.125rem auto;
    padding: 2.5rem;
    border-radius: 25px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 1rem;
}

.attribution a { 
    color: var(--purple1); 
}


/*============ CONTENT ============*/

#iconStar {
    display: flex;
    justify-content: center;
    width: 45px;

    background-color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50%;

    margin-bottom: 2.188rem;
}

#iconStar img {
    margin: 0.875rem 0;
}


#textContent p:first-child {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.313rem;
}

#textContent p:last-child {
    font-size: 0.813rem;
    color: var(--grey3);
    margin-bottom: 2rem;
}


#ratingNumbers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--grey3);
    margin-bottom: 2rem;
}

#ratingNumbers li {
    padding: 0.788rem 1.069rem;

    background-color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50%;
}

#ratingNumbers li:hover {
    color: white;
    background-color: var(--orange1);
    transition: .5s ease;
}

.active {
    color: white;
    background-color: var(--grey4) !important;
}

#submitBtn {
    text-align: center;
    padding: 0.625rem;
    border-radius: 20px;
    
    text-transform: uppercase;
    color: white;
    background-color: var(--orange1);
}

#submitBtn:hover {
    color: var(--orange1);
    background-color: white;
    transition: .5s ease;
}



/*============ THANK YOU MESSAGE ============*/

#thankYouMessage {
    /* display: none; */
    text-align: center;
}

#ratingMessage {
    display: inline-block;
    font-size: 0.813rem;
    color: var(--orange1);
    background-color: var(--grey1);

    margin: 2.188rem 0;
    padding: 0.438rem 1rem;
    border-radius: 22px;
}

#thankYouText p:first-child {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.313rem;
}

#thankYouText p:last-child {
    font-size: 0.813rem;
    color: var(--grey3);
}