*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {

    --bgGrey: #efefefa6;

    /*PRIMARY*/
    --darkViolet: hsl(256, 26%, 20%);
    --grayishBlue: hsl(216, 30%, 68%);

    /*NEUTRAL*/
    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayishViolet: hsl(273, 4%, 51%);
    --veryLightGray:hsl(0, 0%, 98%);
}

body {
    background-color: var(--veryLightGray);
}



/*============================= GLOBAL CLASSES =============================*/

.imgContainer {
    line-height: 0%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.break-column {
    flex-basis: 100%;
    width: 0;
}

.defaultButton {
    border: 1px solid;
    padding: 0.625rem 2.5rem;
    font-size: 1rem;
    background-color: transparent;
}



/*============================= HEADER =============================*/

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    font-family: Karla, sans-serif;
    /* border: 1px solid red; */
}

header span {
    flex: 1;
}

header .imgContainer {
    width: 111px;
}

header ul {
    display: flex;
    white-space: nowrap;
    font-weight: 700;
    color: var(--darkGrayishViolet);
}

header li {
    padding: 1.563rem 1rem;
}

header li:hover {
    color: var(--veryDarkViolet);
    cursor: pointer;
}

header .defaultButton {
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: var(--veryDarkViolet);
    background-color: var(--veryLightGray);
}

header .defaultButton:hover {
    color: var(--veryLightGray);
    background-color: var(--veryDarkViolet);
    cursor: pointer;
}



/*============================= HERO IMG =============================*/

#heroImg {
    width: 100%;
    height: 600px;
    padding: 6.563rem 0 7.938rem;
    background-color: var(--darkViolet);
    /* border: 1px solid red; */

    position: relative;
}

#presentation {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    color: var(--veryLightGray);
    /* border: 1px solid blue; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#presentation > div {
    /* border: 1px solid red; */
    width: 540px;
}

#presentation p:first-child {
    font: 4.5rem DM Serif Display, sans-serif;
}

#presentation p:nth-child(2) {
    font-family: Karla, sans-serif;
}

#presentation .defaultButton {
    color: var(--veryLightGray);
    border-color: var(--veryLightGray);;
}

#presentation .imgContainer {
    width: 542px;
}

#heroImg > .imgContainer:nth-child(2) {
    width: 195px;
    position: absolute;
    left: 0;
    top: 423px;
    /* bottom: -170px; */
}

#heroImg > .imgContainer:last-child{
    width: 380px;
    position: absolute;
    top: 0;
    right: 0;
}



/*============================= MAIN =============================*/

main {
    width: 90%;
    max-width: 1110px;
    margin: 10rem auto 2rem;
}