<main>

    <h1>Cadastrar Funcionário</h1>

    <form action="/cadastrarfuncionario" method="POST" class="form">

        <input type="text" placeholder="Nome" name="nome" required>
        <input type="number" placeholder="Idade" name="idade" required>
        <input type="mail" placeholder="Email" name="email" required>
        <input type="text" placeholder="Cargo" name="cargo" required>
        <input type="text" placeholder="Endereço" name="endereco" required>
        <input type="number" placeholder="Salário" name="salario" required>
        <input type="text" placeholder="Status" name="status" required>
        <input type="text" placeholder="Data Admissao" name="dataAdmissao" required>

        <input type="submit" placeholder="Cadastrar" class="submitBtn">

    </form>

</main>