<main>

    <h1>Login</h1>

    <div class="imgContainer">
        <img src="img/icons/753210.png" alt="dDara | Flaticon">
    </div>

    <form action="/teste2" method="POST">
        {{!-- action="/teste" method="POST" --}}

        <input type="text" placeholder="Digite seu email" name="nome">
        <input type="text" placeholder="Digite sua senha" password="password">

        {{!-- <input type="submit" value="Entrar" class="submitBtn"> --}}
        {{!-- <button class="submitBtn" >Entrar</button> --}}

        <a href="/funcionarios" class="submitBtn">Entrar</a>

    </form>

</main>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>

        {{#each dados}}
            <tr>
                <td>{{nome}}</td>
                <td>{{idade}}</td>
                <td><a href="selecionar/{{id}}">Selecionar</a></td>
            </tr>
        {{/each}}

    </tbody>
</table>