@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

:root {
    --bgGrey: #efefefa6;
}

body {
    background-color: var(--bgGrey);
}



/************************************************************************/

body {
    text-align: center;
    padding: 20px 0;
}

.rickRoll {
    max-width: 350px;
    width: 95%;
}

ul {
    width: 95%;
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.25rem auto 1.25rem;
}

li {
    width: 100%;
    max-width: 300px;
    margin: 0.313rem;
}

.imgContainer {
    height: 200px;
    line-height: 0%;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/*============================= @MEDIA =============================*/

@media (max-width: 652px) {

    li:not(li:last-child) {
        margin-bottom: 1.563rem;
    }
}