*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {

    /*PRIMARY*/
    --cyan: #3d8168;
    --darkCcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*NEUTRAL*/
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
}


/*===========================================================*/

#mainContainer {
    width: 90%;
    max-width: 600px;
    border: 1px solid red;

    display: flex;
    flex-wrap: wrap;
}

.imgContainer {
    width: 50%;
    max-width: 300px;
    height: 450px;
    line-height: 0%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descContainer {
    width: 50%;
    max-width: 300px;

    padding: 1.875rem 1.938rem 1.688rem;
}

.descContainer > p:first-child {
    font: 0.875rem Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 1.438rem;
}

.descContainer h1 {
    font-family: Fraunces, sans-serif;
    margin-bottom: 1.75rem;
}

.descContainer > p:nth-child(3) {
    font: 0.875rem Montserrat, sans-serif;
    margin-bottom: 1.875rem;
}

.descContainer > div:nth-child(4) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}

.descContainer > div:nth-child(4) p:first-child {
    font: 2rem Fraunces, sans-serif;
    color: var(--cyan);
    margin-right: 1.25rem;
}

.descContainer > div:nth-child(4) p:last-child {
    font: 0.813rem Montserrat, sans-serif;
    color: var(--darkGrayishBlue);
}

.addToCartBtn {
    width: 100%;
    padding: 0.938rem;
    border-radius: 10px;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
} 