*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {

    /*PRIMARY*/
    --darkCcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*NEUTRAL*/
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
}


/*===========================================================*/

#mainContainer {
    width: 90%;
    max-width: 600px;
    border: 1px solid red;

    display: flex;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}