h1 {
    margin-bottom: 16px;
}

main {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 90%;
    max-width: 380px;
}

form input{
    display: block;
    width: 100%;
}

form input:not(input:last-child) {
    margin-bottom: 16px;
    font-size: 16px;
    padding: 6px 6px 6px 10px;
    margin-bottom: 16px;
}



.sideMain {
    height: 100%;
}